.sidebar{
    width: fit-content;
    height: fit-content;
}

.main{
    display: flex;
    justify-content: space-between;
}

.second{
    width: fit-content;
    height: fit-content;
}

.third{
    width: fit-content;
    height: fit-content;
}

// .dashboard{
//     padding-left: 18px;
//     padding-top: 18px;
//     padding-right: 18px;
// }
// .dashboard{
//     margin-left: 18px;
//     margin-top: 18px;
//     margin-right: 18px;
//     box-sizing: unset;
// }