<div class="dashboard">
    <div class="header">

        <app-header></app-header>
    </div>

    <div class="main">

        <div class="sidebar  mt18 border-black">
            <app-sidebar></app-sidebar>
        </div>

        <div class="second border-black mt18">
            <app-diagnosis-history></app-diagnosis-history>
            <app-diagnostic-list></app-diagnostic-list>
        </div>
        <div class="third border-black mt18">
            <app-patient-details></app-patient-details>
            <app-lab-results></app-lab-results>
        </div>
    </div>
    <!-- <button (click)="getData()">Get Data</button> -->
</div>
