<div class="main p20 mt18">
    <div class="title">
        <h1>Diagnostic List</h1>
    </div>

    <div class="list-table">
        <table>
            <thead>

                <tr>
                    <th>Problem/Diagnosis</th>
                    <th>Description</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tr *ngFor="let i of jessicaData?.diagnostic_list">
                <td>{{i.name}}</td>
                <td>{{i.description}}</td>
                <td>{{i.status}}</td>
            </tr>
        </table>
    </div>
</div>