<div class="main p20 mt18">
    <div class="title">
        <h1>Diagnostic List</h1>
    </div>

    <div class="list-table">
        <table>
            <thead>

                <tr>
                    <th>Problem/Diagnosis</th>
                    <th>Description</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tr>
                <td>Hypertension</td>
                <td>Chronic high blood pressure</td>
                <td>Under Observation</td>
            </tr>
            <tr>
                <td>Type 2 Diabetes</td>
                <td>Insulin resistance and elevated blood sugar</td>
                <td>Cured</td>
            </tr>
            <tr>
                <td>Asthma</td>
                <td>Recurrent episodes of bronchial constriction</td>
                <td>Inactive</td>
            </tr>
            <tr>
                <td>Osteoarthritis</td>
                <td>Degenerative joint disease</td>
                <td>Untreated</td>
            </tr>
        </table>
    </div>
</div>