<div class="main">
    <div class="respiratory-rate box box1">
        <div class="img1 img"></div>
        <div class="data">
            <h3>Respiratory Rate</h3>
            <h2>20 bpm</h2>
            <p class="">Normal</p>
        </div>
    </div>
    <div class="temperature box box2">
        <div class="img2 img"></div>
        <div class="data">
            <h3 class=" body-secondary-info-14pt">Temperature</h3>
            <h2>98.6°F</h2>
            <p class="">Normal</p>
        </div>
    </div>

    <div class="heart-rate box box3">
        <div class="img img3"></div>
        <div class="data">
            <h3>Heart Rate</h3>
            <h2>78 bpm</h2>
            <p class="">Lower than Average</p>
        </div>
    </div>
</div>