<div class="main">
    <div class="respiratory-rate box box1">
        <div class="img1 img"></div>
        <div class="data">
            <h3>Respiratory Rate</h3>
            <h2>{{respRate}} bpm</h2>
            <p class="">Normal</p>
        </div>
    </div>
    <div class="temperature box box2">
        <div class="img2 img"></div>
        <div class="data">
            <h3 class=" body-secondary-info-14pt">Temperature</h3>
            <h2>{{temperature}}°F</h2>
            <p class="">Normal</p>
        </div>
    </div>

    <div class="heart-rate box box3">
        <div class="img img3"></div>
        <div class="data">
            <h3>Heart Rate</h3>
            <h2>{{bpm}}bpm</h2>
            <p><img src="../../../assets/images/ArrowDown/ArrowDown.png" class="icon" alt=""> Lower Than Average</p>
        </div>
    </div>
</div>